.container-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    border: 1px solid;
    border-color: #aeaeae60 transparent transparent transparent;

    .container-admin-navbar {
        display: flex;
        flex-direction: column;
        width: 52%;
        position: relative;

        .admin-navbar {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            list-style: none;
            

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: .9em 0;
                border: 1px solid #aeaeae80;
                color: #616161;
                cursor: pointer;
                
                
                &:hover {
                    background-color: hsl(0, 0%, 80%);
                }
                &:active {
                    background-color: hsl(0, 0%, 70%);
                }
                a {
                    text-decoration: none;
                    color: #363636;
                }
            }
            .red {
                background-color: #fa3150;
                color: #fff;
                border: 1px solid #aeaeae80;

                &:hover {
                    background-color: hsl(351, 95%, 69%);
                }
                &:active {
                    background-color: hsl(351, 95%, 49%);
                }
                a {
                    color: #fff;
                }
            }
        }
    }
    form {

        .form-group {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100vh;

            .form-label {
                padding-top: 1rem;
            }
            .form-control {
                padding-bottom: 1rem;
                outline: none;
                background-color: #f0f0f0;
                border: solid #f0f0f0;
            }
        }
        .btn-primary {
            padding: .5em 1.3em;
            margin-top: 1rem;
            background-color: hsl(351, 95%, 59%);
            color: #fff;

            &:hover {
                background-color: hsl(351, 95%, 69%);
                transition: ease 0.5ms;
            }
                &:active {
                background-color: hsl(351, 95%, 49%);
                transition: ease 0.5ms;
            }
        }
    }
}