.container-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    border: 1px solid;
    border-color: #aeaeae60 transparent transparent transparent;
}